<div class="search-main">
  <div class="search-wrap">
    <div class="search-html">
      <div class="search-title">
      わからないことを調べよう
      </div>
      <div class="search-form">
        <div class="search-voice-htm">
              <div class="">はなしかけてみよ
              </div>
              <div class="">
              <%= link_to(search_speech_to_text_index_path, class:"") do %>
                <%= image_tag 'voice.png' , size: '60x120', class:"" %>
              <% end %>
              </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <a href=""></a>
          </div>
        </div>
        <div class="search-htm">
              <div class="">
              <%= form_with url: search_search_histories_path, method: :get, local: true do |f| %>
                <%= f.text_field :q, class:"input" %><br/>
                <%= f.submit "けんさく", class:"button" %>
              <% end %>
              </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <a href=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
