<div class="search-main">
  <%= image_tag "kaseijin.png", class:"kaseijin-scl" %>
  <div class="search-wrap">
    <div class="search-html">
      <div class="search-title">
      わからないことを調べよう
      </div>
      <div class="search-icn-voice">
      きいてみる？
      </div>
      <div class="search-icn">
      <%= link_to(search_speech_to_text_index_path, class:"") do %>
        <%= image_tag '25.png' , size: '155x120', class:"" %>
      <% end %>
      </div>
      <div class="search-form">
      <%= form_with url: search_search_histories_path, method: :get, local: true do |f| %>
      <%= f.text_field :q, value: @transcriptions, class:"input" %>
      </div>
      <div class="search-btn">
        <%= f.submit "けんさく", class:"button" %>
      </div>
      <% end %>
    </div>
  </div>
</div>