<body>

  <div id="splash">
    <div id="splash_logo">
      <%= image_tag "rwnl1.png", class:"fadeUp" %>
      <%# <img src="image/rwnl1.png" alt="" class="fadeUp"> %>
    </div>
  </div>

  <main>
    <div id="container">
    <ul class='lists-right'>
  <% if user_signed_in? %>
    <%# <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li> %>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
  <% else %>
    <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
    <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <li><%= link_to "音声出力", speech_to_text_path%></li>
  <% end %>
</ul>

<h1>Search Images</h1>

<%= form_tag(google_custom_search_path, method: :get) do %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @image_urls.present? %>
  <ul>
    <% @image_urls.each do |url| %>
      <li><%= image_tag url %></li>
    <% end %>
  </ul>
<% end %>
      <!--/container-->
    </div>
  </main>
 
  <%= javascript_pack_tag 'first' %>">
</body>



