<body>
  <div id="splash">
    <div id="splash_logo">
      <%= image_tag "rwnl1.png", class:"fadeUp" %>
    </div>
  </div>

  <div class="openbtn1">
    <span></span><span></span><span></span>
  </div>
  <nav id="g-nav">
    <ul>
      <li><a href="#">Top</a></li>  
      <li><a href="#">About</a></li>  
      <li><a href="#">Service</a></li>  
      <li><a href="#">Contact</a></li>  
    </ul>
  </nav>

  <p id="page-top"><a href="#">Page Top</a></p>

  <main>
    <div id="container">
    <ul class='lists-right'>
  <% if user_signed_in? %>
    <%# <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <li><%= link_to "kaiketoolへ", speech_to_text_index_path%></li>
    <li><%= link_to "みんなの投稿", ''%></li>
  <% else %>
    <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
    <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <li><%= link_to "kaiketoolへ", speech_to_text_index_path%></li>
    <li><%= link_to "みんなの投稿", ''%></li>
  <% end %>
</ul>
      <!--/container-->
    </div>
  </main>
 
  <%= javascript_pack_tag 'first' %>">
  <%= javascript_pack_tag 'bokashi' %>">
</body>



