<header>
  <div id="splash">
    <div id="splash_logo">
      <%= image_tag "kodomono.png", class:"fadeUp" %>
      <%= image_tag "kaiketu2.png", class:"fadeUp" %>
    </div>
  </div>
<header>

<body>
  <div class="kaiketu">
    <div class="kaiketu-btn">
        <%= button_to "かいけつしてみる？", speech_to_text_index_path, method: :get, class: "btn-link" %>
    </div>
  </div>
  <main>
    <section>
    <!--/area1-->
      <div class="contents">
        <div>
          <h2>こどものなぜなぜを解決しましょう</h2>
          <br/>
          <ul>こんなことはありませんか？
            <li>自分がわからないことを聞かれる</li>
            <li>なぜなぜで困ったことがある</li>
          </ul>
        </div>
        <div>
          <%= image_tag "nayami.png" %>
        </div>
      </div>
    </section>
    <section>
    <!--/area2-->
      <div class="contents">
        <div>
          <%= image_tag "kaiwa.png" %>
        </div>
        <div>
          <h2>こどものなぜなぜを解決しましょう</h2>
          <br/>
          <ul>こんなことはありませんか？
            <li>自分がわからないことを聞かれる</li>
            <li>なぜなぜで困ったことがある</li>
          </ul>
        </div>
      </div>
    </section>
    <section>
    <!--/area3-->
      <div>
        <div class="contents">
        <div>
          <h2>こどものなぜなぜを解決しましょう</h2>
          <br/>
          <ul>こんなことはありませんか？
            <li>自分がわからないことを聞かれる</li>
            <li>なぜなぜで困ったことがある</li>
          </ul>
        </div>
        <div>
          <%= image_tag "mamatokaiwa.png" %>
        </div>
      </div>
    </section>
    <section>
    <!--/area4-->
      <div class="contents">
        <div class="link">
          <%= link_to "みんなの投稿", search_histories_path , class:"btn-link" %>
        </div>
      </div>
    </section>
  </main>

<footer id="footer">
  <small>&copy; kaiketool</small>
  <p id="page-top"><%= link_to "かいけつしよう！", speech_to_text_index_path%></p>
</footer>

</body>
  <%= javascript_pack_tag 'first' %>
  <%= javascript_pack_tag 'link' %>



