<h1>Kaiketools#index</h1>
<p>Find me in app/views/kaiketools/index.html.erb</p>

<ul class='lists-right'>
  <% if user_signed_in? %>
    <%# <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li> %>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
  <% else %>
    <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
    <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <li><%= link_to "音声出力", speech_to_text_path%></li>
  <% end %>
</ul>


