<header>
  <div id="splash">
    <div id="splash_logo">
      <%= image_tag "kodomono.png", class:"fadeUp" %>
      <%= image_tag "kaiketu2.png", class:"fadeUp" %>
    </div>
  </div>
<header>

<body>
  <div class="kaiketu">
    <div class="kaiketu-btn">
        <%= button_to "かいけつする？", speech_to_text_index_path, method: :get, class: "btn-link" %>
    </div>
    <ul class="slider">
    <li class="slider-item slider-item01"></li>
    <li class="slider-item slider-item02"></li>
    <li class="slider-item slider-item03"></li>
    </ul>
  </div>
  <main>
    <section>
    <!--/area1-->
      <div class="contents">
        <div class="content">
          <div class="content-up">
            <h2>なせなせ期とは・・・</h2>
            <br/>
          </div>
          <div class="content-down">
            <h4>
              子供たちは、成長の過程で「なぜなぜ期」と呼ばれる時期があります。<br/>
              この時期になると、子供たちは世界の中で起こることに対して疑問を持ち<br/>
              何度も「なぜ？」と質問を繰り返します。
            </h4>
          </div>
        </div>
        <div>
          <%= image_tag "1.png" , size: '400x288' %>
        </div>
      </div>
    </section>
    <section>
    <!--/area2-->
      <div class="contents">
        <div>
          <%= image_tag "2.png", size: '287x300' %>
        </div>
        <div class="content">
          <div class="content-up">
            <h2>こどものなぜなぜを解決しましょう</h2>
            <br/>
          </div>
          <div class="content-down">
            <h4>
              この「かいけつ〜る」を使って<br/>
              子供たちの好奇心を刺激し、新しい知識を獲得しよう。<br/>
              この時期に積極的に質問に答えること子供たちは<br/>
              コミュニケーション能力や思考力を発展させ自信をつけることができます。
            </h4>
          </div>
        </div>
      </div>
    </section>
    <section>
    <!--/area3-->
      <div>
        <div class="contents">
          <div class="content">
            <div class="content-up">
              <h2>解決したなぜなぜをみんなでシェアしよう</h2>
              <br/>
            </div>
            <div class="content-down">
              <h4>
              みんなの投稿を見ることで子供と一緒に新しい発見や<br/>
              同じなぜなぜを共感できます。<br/>
              ぜひシェアしてあなたの友人やフォロワーさんと意見交換しましょう！
              </h4>
            </div>
          </div>
          <div>
          <%= image_tag "5.png", size: '332x350' %>
          </div>
        </div>
      </div>
    </section>
    <section>
    <!--/area4-->
      <%= image_tag "utyujin.png", class:"fuwafuwa" %>
      <div class="contents">
        <div class="link">
          <%= link_to "みんなの投稿", search_histories_path , class:"btn-link" %>
        </div>
      </div>
    </section>
  </main>

  <footer id="footer">
    <small>&copy; kaiketool</small>
    <p id="page-top"><%= link_to "かいけつしよう！", speech_to_text_index_path%></p>
  </footer>

</body>
  <%= javascript_pack_tag 'first' %>
  <%= javascript_pack_tag 'link' %>



