
<% if @title.present? && @image_urls.present? %>
  <% @image_urls.each do |url|  %>

    <%= form_with model: Kaiketool.new, local: true, url: kaiketools_path, method: :post do |f|%>
      <div class="">
        <%= f.label :title, "なぜなぜキーワード" %><br />
        <%= f.text_field :title, value: @title, id:"prototype_concept" %>
        <!-- valueオプションを使って、@titleをフォームに表示する -->
      </div>

      <div class="">
        <%= f.label :image, "なぜなぜ画像" %><br />
        <%= f.text_field :image, value: url %> 
        <!-- valueオプションを使って、urlをフォームに表示する -->
      </div>

      <%= image_tag url %>

      <div class="">
        <%= f.label :background, "なぜなぜの背景" %><br />
        <%= f.text_area :background, id:"prototype_concept" %>
      </div>

      <div class="">
        <%= f.label :type_id, "なぜなぜの種類" %><br />
        <%= f.text_area :type_id, class: :form__text, id:"prototype_concept" %>
      </div>


      <div class="actions">
        <%= f.submit "保存する", class: :form__btn  %>
      </div>
    <% end  %>
  <% end %>
<% end %>


