<h1>なぜなぜ検索</h1>

<%= form_tag(search_search_histories_path, method: :get) do %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @title.present? && @image_urls.present? %>
    <% @image_urls.each do |url|  %>

      <%= form_with model: @search_history, url: search_histories_path, method: :post, local: true do |f|%>
        <div class="">
          <%= f.label :title, "なぜなぜキーワード" %><br />
          <%= f.text_field :title, value: @title, id:"prototype_concept" %>
          <!-- valueオプションを使って、@titleをフォームに表示する -->
        </div>

        <div class="">
          <%= f.label :image, "なぜなぜ画像" %><br />
          <%= f.hidden_field :image, value: url %>
          <!-- hidden_fieldを使って、@image_urlsの情報をformに送信する -->
        </div>

        <%= image_tag url %>

        <div class="">
          <%= f.label :background, "なぜなぜの背景" %><br />
          <%= f.text_area :background, id:"prototype_concept" %>
        </div>

        <div class="">
        <div class="field">
          <%= f.label :type_id, "なぜなぜの種類" %><br />
          <%= f.collection_select(:type_id, Type.all, :id, :name, {}, {class:"select-box", id:"kaiketool-type"}) %>
        </div>

        <% if user_signed_in? %>
          <div class="actions">
            <%= f.submit "保存する", class: :form__btn  %>
          </div>
        <% end %>
      <% end  %>
    <% end %>
<% end %>
