<div class="login-main">
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">ログイン</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">新規登録</label>
      <div class="login-form">
        <div class="sign-in-htm">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="group">
                <%= f.label :アドレス, class:"label" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input" %>
              </div>

              <div class="group">
                <%= f.label :パスワード, class:"label" %><br />
                <%= f.password_field :password, autocomplete: "current-password", class:"input" %>
              </div>

              <div class="group">
              <% if devise_mapping.rememberable? %>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
              <% end %>
              </div>
              <div class="group">
                <%= f.submit "Log in", class:"button" %>
              </div>
            <% end %>
          <div class="hr"></div>
          <div class="foot-lnk">
            <a href="#forgot">Forgot Password?</a>
          </div>
        </div>
        <div class="sign-up-htm">
        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
          <%= render 'shared/error_messages', model: f.object %>
          <div class="group">
            <%= f.label :アドレス ,class:"label" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input" %>
          </div>
          <div class="group">
              <%= f.label :パスワード, class:"label" %>
              <%= f.password_field :password, autocomplete: "new-password", class:"input" %>
          </div>
          <div class="group">
            <%= f.label :パスワード（確認）, class:"label" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input" %>
          </div>
          <div class="group">
            <%= f.label :お子さんのなまえ, class:"label" %><br />
            <%= f.text_field :child_name, autofocus: true, autocomplete: "", class:"input" %>
          </div>

          <div class="group">
            <%= f.label :フリガナ（半角カナ）,class:"label"  %><br />
            <%= f.text_field :child_name_kana, autofocus: true, autocomplete: "", class:"input" %>
          </div>

          <div class="group">
            <%= f.label :お父さん・お母さんのなまえ, class:"label" %><br />
            <%= f.text_field :parent_name, autofocus: true, autocomplete: "", class:"input" %>
          </div>
          <div class="group">
            <%= f.label :フリガナ（半角カナ）, class:"label" %><br />
            <%= f.text_field :parent_name_kana, autofocus: true, autocomplete: "", class:"input" %>
          </div>
          <div class="group">
            <%= f.label :性別, class:"label" %><br />
            <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}, {class:"select-box", id:"user-sex"}) %>
          </div>
          <div class="group">
            <%= f.label :お子さんの誕生日, class:"label" %><br />
            <%= raw sprintf(
                          f.date_select(
                            :birthday,
                            class:'select-birth',
                            id:"birth-date",
                            use_month_numbers: true,
                            prompt:'--',
                            start_year: 2005,
                            end_year: (Time.now.year),
                            date_separator: '%s'),
                          "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
          </div>
          <div class="group">
            <%= f.submit "とうろく" , class:"button"%>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
