<!DOCTYPE html>
<html>
  <head>
    <title>Kaiketool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <%= stylesheet_pack_tag 'application' %>
  </head>

<header>
  <%= link_to(root_path, class:"toplogo") do %>
      <%= image_tag 'kaiketu2.png' , size: '185x50', class:"toplogo" %>
  <% end %>
  <% if user_signed_in? %>
  こんにちは
  <%= @search_history_user.user.child_name %>
    <% if @search_history_user.user.sex_id == 2 %>
      くん<p>&emsp;</p>
    <% else %>
      ちゃん<p>&emsp;</p>
    <% end %>
  <% end %>
</header>
  <body>
    <div class="openbtn1">
      <span></span><span></span><span></span>
    </div>

  <% if user_signed_in? %>
  <nav id="g-nav">
    <ul>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>  
      <li><%= link_to 'プロフィール', edit_search_history_path(@search_history_user.id), class: "" %></li>  
      <li><%= link_to 'トップページ', root_path, class: "" %></li>  
      <li><%= link_to 'けんさく', speech_to_text_index_path, class: "" %></li>  
      <li><%= link_to 'みんなのなぜなぜ', search_histories_path, class: "" %></li>  
    </ul>
  </nav>
  <% else %>
  <nav id="g-nav">
    <ul>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to 'とうろく', new_user_registration_path, class: "sign-up" %></li>
      <li><%= link_to 'トップページ', root_path, class: "" %></li>  
      <li><%= link_to 'けんさく', speech_to_text_index_path, class: "" %></li>  
      <li><%= link_to 'みんなのなぜなぜ', search_histories_path, class: "" %></li>  
    </ul>
  </nav>
  <% end %>
    <%= yield %>
  </body>
</html>
  <%= javascript_pack_tag 'bokashi' %>