<!DOCTYPE html>
<html>
  <head>
    <title>Kaiketool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.slider').slick();
      });
    </script>
  </head>

<header>
  <%= link_to(root_path, class:"toplogo") do %>
      <%= image_tag 'kaiketu2.png' , size: '185x50', class:"toplogo" %>
  <% end %>
</header>
  <body>
    <div class="openbtn1">
      <span></span><span></span><span></span>
    </div>

  <% if user_signed_in? %>
  <nav id="g-nav">
    <ul>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>  
      <li><%= link_to 'トップページ', root_path, class: "" %></li>  
      <li><%= link_to 'けんさく', speech_to_text_index_path, class: "" %></li>  
      <li><%= link_to 'みんなのなぜ', search_histories_path, class: "" %></li>  
      <li><a href="#">Contact</a></li>  
    </ul>
  </nav>
  <% else %>
  <nav id="g-nav">
    <ul>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <li><%= link_to 'トップページ', root_path, class: "" %></li>  
      <li><%= link_to 'けんさく', speech_to_text_index_path, class: "" %></li>  
      <li><%= link_to 'みんなのなぜ', search_histories_path, class: "" %></li>  
      <li><a href="#">Contact</a></li>  
    </ul>
  </nav>
  <% end %>
    <%= yield %>
  </body>
</html>
  <%= javascript_pack_tag 'bokashi' %>